<%- include("partials/navbar.ejs") %>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% posts.forEach(function(post, index) { %>
            <tr>
                <td><%= post.title %></td>
                <td><%= post.content %></td>
                <td><a class="edit" href="/update/<%= index %>">Edit/</a><a class="delete" href="/delete/<%= index %>">Delete</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include("partials/footer.ejs") %>