<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include("partials/navbar.ejs") %>

    <div class="container mt-5">
        <form action="/update/<%= post.id %>" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content:</label>
                <textarea id="content" class="form-control" name="content" rows="4" required><%= post.content %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/list" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

    <%- include("partials/footer.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-r4NyMypZnYZpZbkKr1fpE22x9DJeF3r0pCkk8BmybKACmX0gNJTiJ6VmD1RYyYfT" crossorigin="anonymous"></script>
</body>
</html>

